<%- include('widgets/appbar') %>
<%- include('widgets/sidebar') %>

<mdui-layout-main>
<mdui-list>
    <% site.posts.forEach((post) => { %>
        <mdui-card style="background: #ffffff; margin: 24px 0;">
            <mdui-list-item onclick="location.href='<%= url_for(post.path) %>'">
                <%- post.title %>
                <span slot="description">
                    <%- truncate(strip_html(post.content), {length: 200}) %>
                </span>
            </mdui-list-item>
        </mdui-card>
    <% }); %>
</mdui-list>
</mdui-layout-main>