<mdui-navigation-drawer class="sidebar-content" close-on-overlay-click>
    <!-- 用户信息卡片 -->
    <% if (theme.sidebar && (theme.sidebar.avatar || theme.sidebar.name || theme.sidebar.slogen)) { %>
    <div class="sidebar-user-card">
        <% if (theme.sidebar.avatar) { %>
            <mdui-avatar class="sidebar-user-avatar" src="<%= theme.sidebar.avatar %>"></mdui-avatar>
        <% } %>
        <% if (theme.sidebar.name) { %>
            <div class="sidebar-user-name"><%= theme.sidebar.name %></div>
        <% } %>
        <% if (theme.sidebar.slogen) { %>
            <div class="sidebar-user-slogen"><%= theme.sidebar.slogen %></div>
        <% } %>
        </div>
    <% } %>
    
    <!-- 导航菜单 -->
    <mdui-list class="nav-list">
        <% if (theme.nav && theme.nav.length > 0) { %>
            <% theme.nav.forEach(function(item) { %>
                <mdui-list-item 
                    class="nav-item"
                    href="<%= url_for(item.url) %>"
                    rounded
                    <% if (item.url === get_path()) { %>
                    active
                    <% } %>
                >
                    <mdui-icon slot="icon" name="<%= item.icon %>"></mdui-icon>
                    <%= item.name %>
                </mdui-list-item>
            <% }) %>
        <% } %>
    </mdui-list>

    <!-- 分类列表 -->
    <mdui-list>
        <% site.categories.forEach(function(category) { %>
            <mdui-list-item icon="folder" onclick="location.href='<%= url_for(category.path) %>'">
                <%= category.name %>
            </mdui-list-item>
        <% }); %>
    </mdui-list>

</mdui-navigation-drawer>