<style>
.sidebar-user-card {
    text-align: center;
    padding: 2rem 1rem;
    margin: 1rem;
}

.sidebar-user-avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem auto;
    display: block;
}
</style>

<mdui-navigation-drawer class="sidebar-content" close-on-overlay-click>
    <% if (theme.sidebar && (theme.sidebar.avatar || theme.sidebar.name || theme.sidebar.slogen)) { %>
    <mdui-card class="sidebar-user-card" variant="filled">
        <% if (theme.sidebar.avatar) { %>
            <mdui-avatar class="sidebar-user-avatar" src="<%= theme.sidebar.avatar %>"></mdui-avatar>
        <% } %>
        <% if (theme.sidebar.name) { %>
            <div style="font-weight: bold; font-size: 1.5em;"><%= theme.sidebar.name %></div>
        <% } %>
        <% if (theme.sidebar.slogen) { %>
            <div style="font-size: 14px; color: #666; margin-top: 10px;"><%= theme.sidebar.slogen %></div>
        <% } %>
    </mdui-card>
    <% } %>
    
    <mdui-list>
        <% site.categories.forEach(function(category) { %>
            <mdui-list-item icon="folder" onclick="location.href='<%= url_for(category.path) %>'">
                <%= category.name %>
            </mdui-list-item>
        <% }); %>
    </mdui-list>
</mdui-navigation-drawer>

<script src="/js/widgets/sidebar.js"></script>